/* =========================================================== */
/*  ------------------------------------------------------------
    PLAZreset-CSS
    Plazmediå® 2019 · Plazmediå LAB™ 
    http://www.plazmedia.com.mx/home
    v3.1 | 19220919
    License: Copyright © · All rights reserved
*/
/* =========================================================== */

/* Plazmedia color variable */
:root{
/* ---------- Colores Primarios ----------- */
    --plaz-color:               #4918FA;
    --secondary:                #181B32;
    --complementary:            #03CAD2;

/* ------------- Degradado ---------------- */
    --plaz-gradient1:           #310DFF;
    --plaz-gradient2:           #9107fa;

/* ----------- Monocromático -------------- */
    --Black:                    #000000;
    --white:                    #ffffff;

/* ------------- Botones ---------------- */
/* Boton Relacionar */
    --relacionar:               #4918FA;
    --relacionar-hover:         #5F33FF;
    --relacionar-active:        #2C09AD;
/* Confirmar */
    --green:                    #3EA538;
    --green-hover:              #64BA5D;
    --green-active:             #348C30;
/* Cancelar */
    --orange:                   #FF412C;
    --orange-hover:             #FF5E52;
    --orange-active:            #B3200F;

/* -----------Escala de grises ----------- */
    --gray-15:                  #262626;
    --gray-25:                  #3f3f3f;
    --gray-50:                  #7f7f7f;
    --gray-75:                  #bfbfbf;
    --gray-85:                  #d8d8d8;
}
/*============================================================*/

/* Main control of the HTML tag */
html{
    /** 1rem = 10px - Reset para REMS - 62.5% = 10px de 16px que es el estandar de tamaño para la funete de los navegadores. **/
    font-size: 62.5%; 

    font-family: Arial, Helvetica, sans-serif;
    
    line-height:1;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* Margen, relleno y scroll en x. */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.3rem;
    line-height: 2;
}
/* Margin en etiquetas p */
p{
    margin: .5rem 0;
}
/* Margin en etiquetas H */
h1, h2, h3, h4, h5, h6{
    margin: .5rem 0;
    line-height: 1;
}
/* Tamaños de etiquetas H */
h1{
    font-size:3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1rem;
}

/* Diseño de enlaces */
a{
    color:var(--plaz-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* Control de texto Small */
small {
    font-size: 75%;
}
/* Controles alternativos */
hr{
    height: 0;
    overflow: hidden;
    border: none;
}
button,
input,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  margin: 0;
}
/* Imagen adaptada a su contenedor */
img{
    max-width: 100%;
    border-style: none;
}
/* Before y after (s)*/
*,::before,::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
/* -------------------- ^ PLAZreset-CSS ^ -------------------- */
/* =========================================================== */