:root{
    --contenedor: 100rem;
}

body{
    font-family: "krub", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem;
}
h2, h3{
    text-align: center;
}
h2{
    color: var(--secondary); 
}
h3{
    color: var(--plaz-color);
    font-weight: 400;
}
.test{
    background-color: brown;
}

.site-header{
    background-color: var(--white);
}
.site-header nav{
    max-width: var(--contenedor);
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;
    }
}
.site-header nav a{
    color: var(--secondary);
    font-size: 2.2rem;
}
.site-header nav a:hover{
    color: var(--plaz-color);
    text-decoration: none;
}

.hero{
    position: relative;
    height: 45rem;
    background-image: url(../img/hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::after{
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenedor-hero{
    position: relative;
    z-index: 1;
    color: var(--white);
    text-align: center;
}
.contenedor-hero i{
    color: var(--complementary);
    font-size: 3.5rem;
}
.boton{
    background-color: var(--relacionar);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-radius: .5rem;
    border: none;
}
.boton:hover{
    background-color: var(--relacionar-hover);
    text-decoration: none;
    cursor: pointer;
}

.contenedor{
    max-width: var(--contenedor);
    margin: 3rem auto; 
    background-color: var(--white);
    padding: 3rem;
    border-radius: 1rem;

    /* ------ Box Shadow ----- */
    -webkit-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.25);
}

.contenedor-servicios{
    margin-top: 3rem;
}
@media (min-width: 768px){
    .contenedor-servicios{
        display: flex;
        justify-content: space-between;

    }
    .servicio{
        flex: 0 0 calc(33.3% - 2rem);
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconos{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--complementary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    margin: 2rem 0 1rem;
    color: var(--secondary);
}

.contacto{
    margin-top: 3rem;
}
.contacto h2{
    margin-bottom: 3rem;
}
form{
    background-color: var(--gray-25);
    padding: 2rem;
    border-radius: 1rem;
}
form legend{
    text-align: center;
    color: var(--complementary);
    font-size: 2rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    form{
        max-width: 80rem; 
        margin: 3rem auto;  
    }
    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo{
        flex: 0 0 calc(50% - 2rem);
    }
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    color: var(--white);
}
.campo label{
    flex: 0 0 9rem;
}
.campo input{
    flex: 1;
    height: 3rem;
}
.campo textarea{
    flex: 1;
    height: 6rem;
}
.w-100{
    flex: 0 0 100%;
}
.enviar{
    display: flex;
    justify-content: flex-end;
}
.enviar input{
    background-color: var(--complementary);
    color: var(--secondary);
}
.enviar input:hover{
    background-color: rgb(4, 235, 243);
}